.containermain {
  height: 100vh !important;
  width: 100vw !important;
}

.orangebanner {
  width: 100vw;
  height: 30vh;
  background-color: #ff9900;
  position: absolute;
  z-index: -1;
  transition: ease-in-out 0.4s;
}

.orangebannerhidden {
  width: 0vw;
  border-radius: 200px;
  height: 30vh;
  background-color: #ff9900;
  position: absolute;
  z-index: -1;
  transition: ease-in-out 0.4s;
}

.navi {
  background-color: #003b73;
  height: 100%;
  width: 300px;
  position: relative;
}

.icon {
  height: 25%;
}

.navbutton {
  width: 80%;
  border-bottom: solid 0.2px rgba(255, 255, 255, 0.615);
  color: rgba(255, 255, 255, 0.615);

  transition: ease-in-out 0.1s;
}

.navbutton:hover {
  background-color: #0074b7;
  transition: ease-in-out 0.1s;
  cursor: pointer;
  color: white;
  border-bottom: none;
  width: 100%;
  font-size: 1.2rem;
}

.navselected {
  transition: ease-in-out 0.1s;
  cursor: pointer;
  color: white;
  border-bottom: none;
  width: 100%;
  font-size: 1.2rem;
  cursor: default;
}

.icon-container {
  border-radius: 100%;
  background-color: #ffffff;
  width: 150px;
  height: 150px;
}

.navbot {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  color: rgb(215, 215, 215);
  width: 45%;
}

.navbot:hover {
  cursor: pointer;
}

.card {
  box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.16);
}

.dashboardcontainer {
  width: 80%;
}

.boxlist {
  width: 100%;
}

.createbox {
  background-color: #003b73;
  color: white;
}

h1 {
  color: white;
}

.statscontainer {
  justify-content: space-evenly;
}

.boxescontainer {
  height: 100vh;
  width: 80%;
  overflow-y: scroll;
}

.qrup {
  font-size: 2rem;
}

.genbutton {
  background-color: #003b73;
  border-color: #003b73;
}
