.fullpage {
  height: 100vh;
}

.container {
  height: 100vh;
  width: 100vw;
}
.navi {
  background-color: #003b73;
  height: 100%;
  width: 300px;
  position: relative;
}

.icon {
  height: 25%;
}

.navbutton {
  width: 80%;
  border-bottom: solid 0.2px rgba(255, 255, 255, 0.615);
  color: rgba(255, 255, 255, 0.615);

  transition: ease-in-out 0.1s;
}

.navbutton:hover {
  background-color: #0074b7;
  transition: ease-in-out 0.1s;
  cursor: pointer;
  color: white;
  border-bottom: none;
  width: 100%;
  font-size: 1.2rem;
}

.navselected {
  transition: ease-in-out 0.1s;
  cursor: pointer;
  color: white;
  border-bottom: none;
  width: 100%;
  font-size: 1.2rem;
  cursor: default;
}

.icon-container {
  border-radius: 100%;
  background-color: #ffffff;
  width: 150px;
  height: 150px;
}

.navbot {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  color: rgb(215, 215, 215);
  width: 45%;
}

.navbot:hover {
  cursor: pointer;
}

.card {
  box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.16);
}

.boxlist {
  width: 100%;
}
